@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply font-inter;
}

:root {
	--black: "#000000";
	--accent: "#C89114";
	--dark: "#0F172A";
	--light-accent: "#E0D297";
}

h1,
h2,
h3,
button,
a,
a * {
	@apply font-staat;
}

body,
html {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}
/* body::-webkit-scrollbar {
	display: none;
} */

.maxxy {
	@apply max-w-[1200px] mx-auto px-5;
}
.choose_us_section::before {
	position: absolute;
	content: "";
	background: linear-gradient(180deg, white, #f8f6eb);
	height: 100px;
	top: 0;
	left: 0;
	right: 0;
}
.choose_us_section::after {
	position: absolute;
	content: "";
	background: linear-gradient(360deg, white, #f8f6eb);
	height: 100px;
	bottom: 0;
	left: 0;
	right: 0;
}

.nav-visible {
	opacity: 1;
	transition: all 1s ease;
	height: auto;
}

.nav-hidden {
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease;
	height: 0;
}

.logo_carousel {
	animation: carousel 200s linear infinite;
}
.logo_carousel_two {
	animation: carousel 150s linear infinite;
}
.logo_carousel_three {
	animation: carousel 100s linear infinite;
}
.transparent-text {
	color: #b4b4b48d;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}

.hero__title_animation {
	animation: hero_title 0.6s forwards linear;
}
.hero__subtitle_animation {
	animation: hero_sub_title 0.7s forwards linear;
}
.hero__button_animation {
	animation: hero_button 0.6s forwards linear;
}
@keyframes carousel {
	from {
		left: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes hero_title {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes hero_sub_title {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes hero_button {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
